<div class="detail-container">
    <header class="detail-header">
        <img src="./img/logo2.png" alt="Detalle del payaso" class="header-img" />
    </header>

    <div class="detail-content">
        <div class="content-box">

            <div class="clown-name">
                <h2 class="icon-back" [routerLink]="['/']"> < </h2>
                <h2>[CLOWN {{clown?.name}}]</h2>
            </div>

            <img [src]="clown?.img" alt="{{ clown?.name }}" />
            <div class="name-price-container">
                <h1>{{ clown?.name }}, {{ clown?.age }}</h1>
                <h1 style="color: #AB2823;">{{ clown?.price | currency:'':'symbol':'1.0-0' }}</h1>
            </div>
            <div class="weight-height-container">
                <h2>Peso: {{clown?.weight}} kg</h2>
                <h2>Estatura: {{(clown?.height! / 100) | number: '1.2-2'}} m</h2>
            </div>

            <div class="msg-container">
                <img src="./img/alert_icon.png" alt="alert icon" class="icon-img" />
                <h2 class="msg-text">{{ clown?.msg }}</h2>

                <div class="stars">
                    <ng-container *ngFor="let star of fullStars">
                        <span class="star full">★</span>
                      </ng-container>
                      <ng-container *ngFor="let star of emptyStars">
                        <span class="star empty">★</span>
                      </ng-container>
                  </div>
                
            </div>
            <div class="btn-container">
                <button class="msg-btn">AÑADIR AL CARRO</button>
            </div>
            
        </div>
    </div>
</div>